<div class="row">
    <h1 class="section-title">Мы продаем запчасти для
        следующих марок автомобилей:</h1>
    <div class="columns small-12 medium-4 large-3">
        <ul class="section-product-name__list">
            <li class="section-product-name__mark">
                Запчасти на Audi
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более</p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Ford
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более</p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Mazda
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более</p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Peugeot
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более</p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Subaru
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более</p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на BMW
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более</p>
            </li>
        </ul>
    </div>
    <div class="columns small-12 medium-4 large-3">
        <ul class="section-product-name__list">
            <li class="section-product-name__mark">
                Запчасти на Kia
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Nissan
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Skoda
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти нa Volkswagen
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Fiat
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark effect">
                Запчасти на Lexus
                <svg class="arrow-svg-icon effect"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide effect">более </p>
            </li>
        </ul>
    </div>
    <div class="columns small-12 medium-3 large-3">
        <ul class="section-product-name__list">
            <li class="section-product-name__mark">
                Запчасти на Opel
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на SsangYoung
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Volvo
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Maserati
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Audi
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Mazda
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
        </ul>
    </div>
    <div class="columns small-12 large-3">
        <ul class="section-product-name__list section-product-name__list--hide">
            <li class="section-product-name__mark">
                Запчасти на Honda
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Mercedes
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Renault
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Suzuki
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Chevrolet
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
            <li class="section-product-name__mark">
                Запчасти на Renault
                <svg class="arrow-svg-icon"><use xlink:href="#icon-arrow"></use></svg>
                <p class="section-product-name__count-hide">более </p>
            </li>
        </ul>
    </div>
    <a href="page-two.html" class="button">Запчасти для других марок</a>
</div>

