<div class="row columns">
<h2 class="ba-section-title">Бестселлеры в категории автотовары и автохимия</h2>
<div class="ba-slider-top">
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/1.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">Kroon</h4>
                <p class="ba-card__description">Моторное масло Dexos2 5W-30
                    Синтетическое, 1 л..</p>
                <p class="ba-card__cost">3 497 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__product-availability">есть в наличии</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/2.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title-swag">SWAG</h4>
                <p class="ba-card__description-swag">Трансмиссионное масло Hydraulic
                    Fluid for Hydraulic central, power steer
                    синтетическое</p>
                <div class="ba-card__block-img">
                    <img class="star-image" src="../img/5.png" alt="five-star">
                    <span class="recommendation">(2 рекомендации)</span>
                </div>

                <p class="ba-card__cost ">50 839 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__product-availability">есть в наличии</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/3.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">Castrol</h4>
                <p class="ba-card__description">Трансмиссионное масло Syntrax
                    Universal GL-4 / 5 80W-90, 1 л. </p>
                <div class="ba-card__block-img">
                    <img class="star-image" src="../img/3-5.png" alt="tree-star">
                    <span class="recommendation">(1 рекомендации)</span>
                </div>
                <p class="ba-card__cost">3 497 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__product-availability">есть в наличии</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/2.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">VAG</h4>
                <p class="ba-card__description">Лампа противотуманной фары (01EX 011 869-311)</p>
                <p class="ba-card__cost ba-card_cost--length">40 486 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__post-alarm">Под заказ, 13 дней</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/3.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">Kroon</h4>
                <p class="ba-card__description">Моторное масло Dexos2 5W-30
                    Синтетическое, 1 л..</p>
                <p class="ba-card__cost">3 497 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__product-availability">есть в наличии</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/3.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">Castrol</h4>
                <p class="ba-card__description">Трансмиссионное масло Syntrax
                    Universal GL-4 / 5 80W-90, 1 л. </p>
                <div class="ba-card__block-img">
                    <img class="star-image" src="../img/3-5.png" alt="tree-star">
                    <span class="recommendation">(1 рекомендации)</span>
                </div>
                <p class="ba-card__cost">3 497 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__product-availability">есть в наличии</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="ba-slider-bottom">
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/1.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">Kroon</h4>
                <p class="ba-card__description">Моторное масло Dexos2 5W-30
                    Синтетическое, 1 л..</p>
                <p class="ba-card__cost">3 497 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__product-availability">есть в наличии</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/3.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">Castrol</h4>
                <p class="ba-card__description">Трансмиссионное масло Syntrax
                    Universal GL-4 / 5 80W-90, 1 л. </p>
                <div class="ba-card__block-img">
                    <img class="star-image" src="../img/3-5.png" alt="tree-star">
                    <span class="recommendation">(1 рекомендации)</span>
                </div>
                <p class="ba-card__cost">3 497 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__product-availability">есть в наличии</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/2.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">VAG</h4>
                <p class="ba-card__description">Лампа противотуманной фары (01EX 011 869-311)</p>
                <p class="ba-card__cost">40 486 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__post-alarm">Под заказ, 13 дней</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/3.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">Kroon</h4>
                <p class="ba-card__description">Моторное масло Dexos2 5W-30
                    Синтетическое, 1 л..</p>
                <p class="ba-card__cost">3 497 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__product-availability">есть в наличии</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
    <div class="ba-slider-item">
        <article class="ba-card">
            <img class="ba-card__medium-img small-12 medium-12" src="../img/3.png" alt="image1">
            <div class="ba-card__section small-12 medium-12">
                <h4 class="ba-card__title">Castrol</h4>
                <p class="ba-card__description">Трансмиссионное масло Syntrax
                    Universal GL-4 / 5 80W-90, 1 л. </p>
                <div class="ba-card__block-img">
                    <img class="star-image" src="../img/3-5.png" alt="tree-star">
                    <span class="recommendation">(1 рекомендации)</span>
                </div>
                <p class="ba-card__cost">3 497 <span class="ba-card__currency">грн</span></p>
                <div class="ba-card__block-button small-12 medium-12">
                    <p class="ba-card__product-availability">есть в наличии</p>
                    <button class="ba-card__button-buy">купить</button>
                </div>
            </div>
        </article>
    </div>
</div>
</div>
