<div class="grid-container">
    <h2>Бестселлеры в категории автотовары и автохимия</h2>
    <div class="slider grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
            <div class="card">
                <img src="../assets/img/1.png">
                <div class="card-section">
                    <h4>Kroon</h4>
                    <p>Моторное масло Dexos2 5W-30 Синтетическое, 1 л..</p>
                   <p>цена   грн</p>
                    <span>есть в наличии `${productId}`</span>
                    <button class="button-buy">купить</button>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <img src="../assets/img/2.png">
                <div class="card-section">
                    <h4>This is a card.</h4>
                    <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    <p>цена   грн</p>
                    <span>есть в наличии `${productId}`</span>
                    <button class="button-buy">купить</button>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <img src="../assets/img/1.png">
                <div class="card-section">
                    <h4>This is a row of cards.</h4>
                    <p>This row of cards is embedded in an Flex Block Grid.</p>
                    <p>цена   грн</p>
                    <span>есть в наличии `${productId}`</span>
                    <button class="button-buy">купить</button>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <img src="../assets/img/3.png">
                <div class="card-section">
                    <h4>This is a card.</h4>
                    <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    <p>цена   грн</p>
                    <span>есть в наличии `${productId}`</span>
                    <button class="button-buy">купить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" slid grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
        <div class="card">
            <img src="../assets/img/1.png">
            <div class="card-section">
                <h4>This is a row of cards.</h4>
                <p>This row of cards is embedded in an Flex Block Grid.</p>
                <p>цена   грн</p>
                <span>есть в наличии `${productId}`</span>
                <button class="button-buy">купить</button>
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="card">
            <img src="../assets/img/2.png">
            <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                <p>цена   грн</p>
                <span>есть в наличии `${productId}`</span>
                <button class="button-buy">купить</button>
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="card">
            <img src="../assets/img/1.png">
            <div class="card-section">
                <h4>This is a row of cards.</h4>
                <p>This row of cards is embedded in an Flex Block Grid.</p>
                <p>цена   грн</p>
                <span>есть в наличии `${productId}`</span>
                <button class="button-buy">купить</button>
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="card">
            <img src="../assets/img/3.png">
            <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                <p>цена   грн</p>
                <span>есть в наличии `${productId}`</span>
                <button class="button-buy">купить</button>
            </div>
        </div>
    </div>
</div>
<div class="ba-best-slider__arrows">
    <button class="ba-slider-btn__top" data-best-next>
        <img src="../assets/img/slice-arrow.svg" alt="next">
    </button>
    <button class="ba-slider-btn__bottom" data-best-next>
        <img src="../assets/img/slice-arrow.svg" alt="next">
    </button>
</div>
<a href="index.html" class="button">НАЗАД</a>
